<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>diagnosis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="right">
        <ion-label>우측</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="front">
        <ion-label>정면</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="left">
        <ion-label>좌측</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>