<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="solution"></ion-back-button>
    </ion-buttons>
    <ion-title>diagnosis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      진단페이지 구성하기
    </div>
    <ion-avatar>
      <img [src]="selectedImage ? selectedImage.webPath : 'assets/user.png'"/>
    </ion-avatar>
    <ion-button class="takePhoto" (click)="takePicture()" color="dark" size="medium">사진 촬영</ion-button>
  </div>
</ion-content>
