<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>diagnosis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="photoCard">
      <img class="photo" [src]="selectedImage ? selectedImage.webPath : 'assets/user.png'"/>
    </div>
    <ion-button class="takePhoto" (click)="takePicture()" color="dark" size="medium">사진 촬영</ion-button>
  </div>
</ion-content>