<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div><img src="assets/logo.png" alt="logo" class="logo"></div>
      <div class="name">피부 기초 설문</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>평소 피부 고민은?</ion-label>
      </ion-list-header>
    </ion-radio-group>
  </ion-list>

  <div class="circle"></div>
  <input type="radio" name="consider" id="dried"><label for="dried" class="drie">건조</label>
  <input type="radio" name="consider" id="bright"><label for="bright" class="brigh">미백</label>
  <input type="radio" name="consider" id="wrinkle"><label for="wrinkle" class="wrinkl">주름</label>
  <input type="radio" name="consider" id="blush"><label for="blush" class="blus">홍조</label>
  <input type="radio" name="consider" id="trouble"><label for="trouble" class="troubl">트러블</label>


  <ion-button class="homeButton" (click)="goHome()" color="dark">FINISH</ion-button>
</ion-content>
