<!-- 두 번째 피부 기초 설명 페이지 -->
<!-- 사용자의 피부에 대한 기초 정보를 입력 받는 페이지 -->

<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <!-- 좌측 상단에 브랜드 로고 삽입 -->
      <div><img src="assets/logo.png" alt="logo" class="logo"></div>
      <!-- 우측 상단에 페이지명 삽입 -->
      <div class="name">피부 기초 설문</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 설문 리스트를 체크박스 형식으로 작성하여 정보를 입력 받음 -->
  <h3>평소 피부 고민은?</h3>

  <div class="circle"></div>
  <input type="radio" name="consider" id="dried"><label for="dried" class="drie">건조</label>
  <input type="radio" name="consider" id="bright"><label for="bright" class="brigh">미백</label>
  <input type="radio" name="consider" id="wrinkle"><label for="wrinkle" class="wrinkl">주름</label>
  <input type="radio" name="consider" id="blush"><label for="blush" class="blus">홍조</label>
  <input type="radio" name="consider" id="trouble"><label for="trouble" class="troubl">트러블</label>

  <!-- 다음 페이지로 넘어가는 버튼 -->
  <ion-button class="homeButton" (click)="goHome()" color="dark">FINISH</ion-button>
</ion-content>
