.toolbar {
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
} //상단에 표시한 정보들의 배열 조정

.logo {
    align-items: left;
    height: 44px;
    width : 77px;
    margin-top: 15px;
    margin: 10px;
    margin-bottom: 0px;
} //로고 크기 및 위치 조정

.name {
    font-weight: bold;
    margin-top: 40px;
} //페이지명 폰트 및 위치 조정

.button {
    @extend %m0auto;
    position: relative;
    top: 20%;
    width: 80%;
    .buttonIn {
        width: 100%;
    }
} //다음 페이지로 넘어가는 버튼의 크기, 위치 조정

%m0auto { margin: 0 auto; }