ion-back-button {
    color: black;
}

.content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
}

.signup-text {
    font-size: x-small;
    color: #a8a8a8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
}

.signin-text {
    font-size: x-small;
    color: #000000;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
}

ion-input{
    background-color: #ededed;
    border-radius: 5px;
    font-size: small;
    width: 300px;
}

.actionbutton {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family: 'Nunito', sans-serif;
}

ion-checkbox {
    --height: 10px;
    --width: 10px;
    --checkmark-color: white;
    --background-checked: black;
    --border-color: black;
}

.line {
    border-bottom: 1px solid gray;
    margin-bottom: 16px;
}

.facebookbtn {
    background-color: #3b5998;
    border-radius: 6px;
    color: cornsilk;
    margin-bottom: 12px;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
}

.googlebtn {
    background-color: #ea4335;
    border-radius: 6px;
    color: cornsilk;
    margin-bottom: 40 px;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
}