<ion-header>
  <ion-toolbar>
    <ion-title>로그인</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="login" action="" method="post">
    <fieldset class="loginBox">
      <ion-list>
        <div class="container">
          <div class="info">
            <ion-input inputmode="text" required="true" placeholder="아이디"></ion-input>
            <ion-input inputmode="text" type="password" required="true" minlength="8" placeholder="비밀번호"></ion-input>  
          </div>
        
          <div class="loginbutton">
            <ion-button class="signIn" type="submit" (click)="goHome()" color="dark">로그인</ion-button>
          </div>
        </div>
      </ion-list>

      <ion-item lines="none">
        <ion-checkbox color="dark" checked slot="start" checked="true"></ion-checkbox>
        <ion-label for="idSave">ID 저장</ion-label>
      </ion-item>
      
      
      <ul>
        <p class="find">
          아이디를 잊으셨나요?  <a href="#a">아이디 찾기</a><br>
          비밀번호를 잊으셨나요?  <a href="#a">비밀번호 찾기</a>
        </p>
      </ul>

    </fieldset>
  </form>

  <!-- 간편 로그인 만들기 -->
</ion-content>
