<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-page"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">리뷰/아이디어/스킨 다이어리</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="review">
        <ion-label>REVIEW</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="idea">
        <ion-label>IDEA</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="diary">
        <ion-label>DIARY</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>