.title {
    text-align: center;
    padding-left: 42px;
    padding-right: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: medium;
    font-weight: bold;
}
//안드로이드 기준 중앙 ios는 패딩 없애기

ion-back-button {
    color: black;
}