.title {
    text-align: center;
    padding-left: 42px;
    padding-right: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.photo {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

// .changePhoto {
//     margin-bottom: 15px;
// }
// 수정

.line {
    border-bottom: 1px solid black;
}

.save {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    margin-top: 30px;
}

ion-back-button {
    color: black;
}

ion-col {
    height: 50px;
}