<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-page"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <img class="photo" src="./user-in-a-square.svg"/>
    </ion-row>
    <ion-row class="line">
    </ion-row>
    <ion-row>
      <ion-col size="3.8" style="transform: translateY(12.5%);">
        프로필 사진
      </ion-col>
      <ion-col>
        <ion-button class="changePhoto" size="small" color="medium">
          프로필 사진 수정
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- 닉네임 나오게 설정 -->
      <ion-col size="3.8" style="transform: translateY(12.5%);">
        닉네임
      </ion-col>
      <ion-col>
        <ion-button class="changeNick" size="small" color="medium">
          닉네임 수정
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3.8" style="transform: translateY(20%);">
        연령
      </ion-col>
      <!-- 설문에서 입력 받은 년도 출력 -->
      <ion-col>
        <ion-select value="1998">
          <ion-select-option value="1940">1940</ion-select-option>
          <ion-select-option value="1941">1941</ion-select-option>
          <ion-select-option value="1942">1942</ion-select-option>
          <ion-select-option value="1943">1943</ion-select-option>
          <ion-select-option value="1944">1944</ion-select-option>
          <ion-select-option value="1945">1945</ion-select-option>
          <ion-select-option value="1946">1946</ion-select-option>
          <ion-select-option value="1947">1947</ion-select-option>
          <ion-select-option value="1948">1948</ion-select-option>
          <ion-select-option value="1949">1949</ion-select-option>
          <ion-select-option value="1950">1950</ion-select-option>
          <ion-select-option value="1951">1951</ion-select-option>
          <ion-select-option value="1952">1952</ion-select-option>
          <ion-select-option value="1953">1953</ion-select-option>
          <ion-select-option value="1954">1954</ion-select-option>
          <ion-select-option value="1955">1955</ion-select-option>
          <ion-select-option value="1956">1956</ion-select-option>
          <ion-select-option value="1957">1957</ion-select-option>
          <ion-select-option value="1958">1958</ion-select-option>
          <ion-select-option value="1959">1959</ion-select-option>
          <ion-select-option value="1960">1960</ion-select-option>
          <ion-select-option value="1961">1961</ion-select-option>
          <ion-select-option value="1962">1962</ion-select-option>
          <ion-select-option value="1963">1963</ion-select-option>
          <ion-select-option value="1964">1964</ion-select-option>
          <ion-select-option value="1965">1965</ion-select-option>
          <ion-select-option value="1966">1966</ion-select-option>
          <ion-select-option value="1967">1967</ion-select-option>
          <ion-select-option value="1968">1968</ion-select-option>
          <ion-select-option value="1969">1969</ion-select-option>
          <ion-select-option value="1970">1970</ion-select-option>
          <ion-select-option value="1971">1971</ion-select-option>
          <ion-select-option value="1972">1972</ion-select-option>
          <ion-select-option value="1973">1973</ion-select-option>
          <ion-select-option value="1974">1974</ion-select-option>
          <ion-select-option value="1975">1975</ion-select-option>
          <ion-select-option value="1976">1976</ion-select-option>
          <ion-select-option value="1977">1977</ion-select-option>
          <ion-select-option value="1978">1978</ion-select-option>
          <ion-select-option value="1979">1979</ion-select-option>
          <ion-select-option value="1980">1980</ion-select-option>
          <ion-select-option value="1981">1981</ion-select-option>
          <ion-select-option value="1982">1982</ion-select-option>
          <ion-select-option value="1983">1983</ion-select-option>
          <ion-select-option value="1984">1984</ion-select-option>
          <ion-select-option value="1985">1985</ion-select-option>
          <ion-select-option value="1986">1986</ion-select-option>
          <ion-select-option value="1987">1987</ion-select-option>
          <ion-select-option value="1988">1988</ion-select-option>
          <ion-select-option value="1989">1989</ion-select-option>
          <ion-select-option value="1990">1990</ion-select-option>
          <ion-select-option value="1991">1991</ion-select-option>
          <ion-select-option value="1992">1992</ion-select-option>
          <ion-select-option value="1993">1993</ion-select-option>
          <ion-select-option value="1994">1994</ion-select-option>
          <ion-select-option value="1995">1995</ion-select-option>
          <ion-select-option value="1996">1996</ion-select-option>
          <ion-select-option value="1997">1997</ion-select-option>
          <ion-select-option value="1998">1998</ion-select-option>
          <ion-select-option value="1999">1999</ion-select-option>
          <ion-select-option value="2000">2000</ion-select-option>
          <ion-select-option value="2001">2001</ion-select-option>
          <ion-select-option value="2002">2002</ion-select-option>
          <ion-select-option value="2003">2003</ion-select-option>
          <ion-select-option value="2004">2004</ion-select-option>
          <ion-select-option value="2005">2005</ion-select-option>
          <ion-select-option value="2006">2006</ion-select-option>
          <ion-select-option value="2007">2007</ion-select-option>
          <ion-select-option value="2008">2008</ion-select-option>
          <ion-select-option value="2009">2009</ion-select-option>
          <ion-select-option value="2010">2010</ion-select-option>
          <ion-select-option value="2011">2011</ion-select-option>
          <ion-select-option value="2012">2012</ion-select-option>
          <ion-select-option value="2013">2013</ion-select-option>
        </ion-select>
        <!-- 데이터 베이스 정보 수정 -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3.8" style="transform: translateY(12.5%);">
        피부타입
      </ion-col>
      <ion-col>
        <ion-select value="">
          <ion-select-option value="oil">지성</ion-select-option>
          <ion-select-option value="dry">건성</ion-select-option>
          <ion-select-option value="neut">중성</ion-select-option>
          <ion-select-option value="compl">복합성</ion-select-option>
          <ion-select-option value="acne">여드름성</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3.8" style="transform: translateY(12.5%);">
        Skin Cude system
      </ion-col>
      <ion-col>
        #2357<br>
        type
      </ion-col>
      <!-- 분석 결과 동기화 -->
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="save" (click)="saveButtonClick()" color="dark">
          저장
          <!-- 데이터 저장하는 법 알아보고 적용 -->
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
