<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="check">
        <ion-label>
          주문내역 조회 (2건) <!--숫자는 데이터 불러오기-->
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="refund">
        <ion-label>
          취소/교환/반품 내역 (0건) <!--숫자는 데이터 불러오기-->
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- 목록 만들기 -->
</ion-content>
