<ion-header>
  <ion-toolbar>
    <ion-title>diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon name="book-outline" color="dark"></ion-icon>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="translucent">
    <ion-tab-button tab="ideas">
      <ion-icon name="bulb-outline" color="dark"></ion-icon>
      <ion-label>아이디어</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="solution">
      <ion-icon name="sparkles-outline" color="dark"></ion-icon>
      <ion-label>솔루션</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-sharp" color="dark"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diary">
      <ion-icon id="selected" name="book-outline" color="dark"></ion-icon>
      <ion-label>스킨 다이어리</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="bag-handle-outline" color="dark"></ion-icon>
      <ion-label>STORE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>