<ion-header>
</ion-header>

<ion-content>
  <div class="container">
    <div class="progress">
      Planning submit 메뉴를 통해 기획인 제출 <br>
      <ion-icon name="chevron-down-outline"></ion-icon><br>
      기획안 검토 <br>
      <ion-icon name="chevron-down-outline"></ion-icon><br>
      선정된 기획안 제품 출시 <br>
      <ion-icon name="chevron-down-outline"></ion-icon><br>
      파트너쉽 사후 관리
    </div>
    <div style="width: inherit; text-align: center;">
      <ion-button size="medium" color="dark">
        아이디어 제출
      </ion-button>
    </div>
  </div>
</ion-content>
