<!-- 메인(홈) 페이지 -->
<!-- 실질적 홈 화면으로 홈에 띄울 내용들을 작성 -->
<ion-header>
  <ion-toolbar>
    <ion-button class="menu" slot="start" fill="clear">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-button>
    <!-- 가장 좌측 메뉴 버튼 -->
    <ion-title>
      <div class="appTitle">88 MADE</div>
    </ion-title>
    <!-- 앱 타이틀 -->
    <ion-button class="search" (click)="goSearch()" slot="end" fill="clear" size="small">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-button>
    <!-- 검색 버튼 -->
    <ion-button class="cart" (click)="goCart()" slot="end" fill="clear" size="small">
      <ion-icon name="cart-outline" color="dark"></ion-icon>
    </ion-button>
    <!-- 장바구니 버튼 -->
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div class="container">
    <div class="ad">
      광고
    </div>
    <ion-grid>
      <ion-row style="border-bottom: 1px solid rgb(167, 167, 167);">
        <ion-col class="rank">
          주간 뷰티랭킹
        </ion-col>
        <ion-col class="date">
          2021.03.05 기준
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-button (click)="func()" fill="clear" size="small" color="dark">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="height: 50px; border-bottom: 1px solid rgb(167, 167, 167);">
        <ion-col style="height: 50px">
          <!-- 가로스크롤 알아보기 -->
          <ion-tabs>
            <ion-tab-bar>
              <ion-tab-button tab="moisture">
                수분에센스
              </ion-tab-button>
              <ion-tab-button tab="bubble">
                버블클렌져
              </ion-tab-button>
              <ion-tab-button tab="eye">
                아이팔레트
              </ion-tab-button>
              <ion-tab-button tab="found">
                쿠션파데
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-col>
      </ion-row>
      <!-- 여기부터 위에 탭 페이지에 구현 -->
      <div class="list-wrap">
        <div class="row">
          <ion-row style="height: 100%">
            <!-- 각 col 탭으로 구현 그 안에 탭으로 리뷰 구현 -->
            <ion-col class="product"></ion-col>
            <ion-col class="product"></ion-col>
            <ion-col class="product"></ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>