.ideaList {
    display: inline-block;
    border-right: 1px solid #000000;
    height: 100%;
    width: 50%;
}

.progress {
    display: inline-block;
    height: 100%;
    width: 50%;
}

.ideas {
    border-radius: 3px;
    font-size: smaller;
}

a {
    color: black;
}