<!-- 솔루션 페이지 -->
<!-- 피부 진단 솔루션에 관한 내용을 작성 -->

<ion-header>
  <ion-toolbar>

  </ion-toolbar>
  <h1>Skin Cude System</h1>
</ion-header>
  
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" style="background-color: transparent; margin-top:10px;">
      <ion-tab-button tab="sys-explain" style="font-size: medium; background-color: transparent;">
        <ion-label>
          Skin Cube System?
        </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="sys-progress" style="font-size: medium; background-color: transparent;">
        <ion-label>
          Skin Cude System 진단
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>