ion-back-button {
    color: black;
}

ion-title {
    text-align: center;
}

.button-action {
    margin-left: 5px;
}

.heart-list {
    font-size: x-small;
    color: #a8a8a8;
    text-align: center;
}

.cart-list {
    font-size: x-small;
    color: #000000;
    text-align: center;
}