.signOut {
    margin-left: 2px;
    font-size: x-small;
}

.changePass{
    margin-left: 2px;
    font-size: x-small;
}

.changePhone {
    margin-left: 2px;
    font-size: x-small;
}

.save {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

ion-button {
    margin-bottom: 15zpx;
}

ion-col {
    height: 50px;
}