<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="board_list_wrap">
    <div class="board_list">
      <ion-gird>
        <ion-row class="top">
          <ion-col class="num" size="2.5">번호</ion-col>
          <ion-col class="title" size="4.5">제목</ion-col>
          <ion-col class="writer" size="2.5">글쓴이</ion-col>
          <ion-col class="date" size="2.5">작성일</ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="num" size="2.5">1</ion-col>
          <ion-col class="title" size="4.5">제목1</ion-col>
          <ion-col class="writer" size="2.5">관리자</ion-col>
          <ion-col class="date" size="2.5">2021.12.23</ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="num" size="2.5">2</ion-col>
          <ion-col class="title" size="4.5">제목2</ion-col>
          <ion-col class="writer" size="2.5">관리자</ion-col>
          <ion-col class="date" size="2.5">2021.11.30</ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="num" size="2.5">3</ion-col>
          <ion-col class="title" size="4.5">제목3</ion-col>
          <ion-col class="writer" size="2.5">관리자</ion-col>
          <ion-col class="date" size="2.5">2021.11.07</ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="num" size="2.5">4</ion-col>
          <ion-col class="title" size="4.5">제목4</ion-col>
          <ion-col class="writer" size="2.5">관리자</ion-col>
          <ion-col class="date" size="2.5">2021.10.28</ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="num" size="2.5">5</ion-col>
          <ion-col class="title" size="4.5">제목5</ion-col>
          <ion-col class="writer" size="2.5">관리자</ion-col>
          <ion-col class="date" size="2.5">2021.09.16</ion-col>
        </ion-row>
      </ion-gird>
    </div>
  </div>
</ion-content>
