<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Expert Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <!-- line-height 조정 -->
          <div style="font-size: small; text-align: center; border: 1px solid black; border-radius: 5px; height: 100%; line-height: 39px;">
            직종
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-input style="border-bottom: 1px solid black;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div style="font-size: small; text-align: center; border: 1px solid black; border-radius: 5px; height: 100%; line-height: 39px;">
            기타 화장품 관련 종사자
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-input style="border-bottom: 1px solid black;"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
