ion-back-button {
    color: black;
}

ion-title {
    text-align: center;
}

ion-input {
    border-bottom: 1px solid black;
}

.occupation {
    font-size: small;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    line-height: 39px;
}

.others {
    font-size: small;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    line-height: 39px;
}