<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Expert Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <!-- line-height 조정 -->
          <div style="font-size: small; text-align: center; border: 1px solid black; border-radius: 5px; height: 100%; line-height: 39px;">
            직종
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-input style="border-bottom: 1px solid black;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div style="font-size: small; text-align: center; border: 1px solid black; border-radius: 5px; height: 100%; line-height: 39px;">
            기타 화장품 관련 종사자
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-col style="font-weight: bold;">
          맞춤형 화장품 조제관리사 등록
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="이름" clearInput></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="생년월일(ex.19920818)" clearInput></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="자격증번호 입력" clearInput></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="문서번호(ex.MFDS2020000302)" clearInput></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button (click)="applyClicked()" size="medium" color="dark">
            신청하기
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
