<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div><img src="assets/logo.png" alt="logo" class="logo"></div>
      <div class="name">피부 기초 설문</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list>
      <ion-item>
        <ion-label>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div><ion-button class="button" (click)="goHome()" slot="ion-button" expand="block" color="dark">NEXT</ion-button></div>
</ion-content>
