<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="privacy">
        <ion-label style="font-size: small;">개인정보</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="notification">
        <ion-label style="font-size: small;">알림설정</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bluetooth">
        <ion-label style="font-size: small;">블루투스</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="faq">
        <ion-label style="font-size: small;">FAQ</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="policy">
        <ion-label style="font-size: small;">이용약관</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="sign-out">
        <ion-label style="font-size: small;">로그아웃</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>