<ion-header>
  <ion-toolbar class="title">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="privacy">
        <ion-label>개인정보</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="notification">
        <ion-label>알림설정</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="faq">
        <ion-label>FAQ</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="policy">
        <ion-label>이용약관</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="sign-out">
        <ion-label>로그아웃</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>