ion-title {
    text-align: center;
}

ion-back-button {
    color: black;
}

ion-col {
    text-align: center;
}

.progressbox {
    border: 1px solid black;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}