<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-page"></ion-back-button>
    </ion-buttons>
    <ion-title>purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="progressbox">
    <ion-grid>
      <!-- 진행중인 품목 수(데이터 연결해서 불러오기) -->
      <ion-row>
        <ion-col style="color: skyblue;">
          0
        </ion-col>
        <ion-col style="color: skyblue;">
          2
        </ion-col>
        <ion-col style="color: skyblue;">
          1
        </ion-col>
        <ion-col style="color: skyblue;">
          30
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-weight: bold;">
          <a (click)="goPayment()" style="color: black;">
            입금/결제
          </a>
        </ion-col>
        <ion-col style="font-weight: bold;">
          <a (click)="goDelievering()" style="color: black;">
            배송중
          </a>
        </ion-col>
        <ion-col style="font-weight: bold;">
          <a (click)="goDelivered()" style="color: black;">
            배송완료
          </a>
        </ion-col>
        <ion-col style="font-weight: bold;">
          <a (click)="goConfirm()" style="color: black;">
            구매확정
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- 탭으로 할지 탭을 구현할지 & 탭마다 상세 페이지(목록) -->