<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-page"></ion-back-button>
    </ion-buttons>
    <ion-title>purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <!-- 데이터 연동하여 표기 -->
    <ion-tab-bar slot="top">
      <ion-tab-button tab="deposit">
        <div>0</div>
        <ion-label>입금/결제</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="delivery">
        <div>2</div>
        <ion-label>배달중</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="delivered">
        <div>1</div>
        <ion-label>배달완료</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="purchased">
        <div>30</div>
        <ion-label>구매확정</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<!-- 탭으로 할지 탭을 구현할지 & 탭마다 상세 페이지(목록) -->