<ion-header>
</ion-header>

<ion-content>
  <div class="container">
    <div class="progress">
      88skin AI 촬영 진단 <br>
      <ion-icon name="chevron-down-outline"></ion-icon><br>
      현재 피부 상태 결과 <br>
      <ion-icon name="chevron-down-outline"></ion-icon><br>
      색상 별 4가지 설문 진행 <br>
      <ion-icon name="chevron-down-outline"></ion-icon><br>
      테스트 결과 및 제품 추천
    </div>
    <div style="width: inherit; text-align: center;">
      <ion-button size="medium" color="dark">
        진단 받으러 가기
      </ion-button>
    </div>
  </div>
</ion-content>
