ion-back-button {
    color: black;
}

ion-title {
    text-align: center;
}

ion-textarea {
    height: 40px;
}

.submit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35%;
}