<ion-header>
</ion-header>

<ion-content>
  <div style="font-weight: bold; margin-top: 30px; margin-left: 10px;">
    상태: 전체 주문 처리상태
  </div>
  <ion-grid style="padding: 0;">
    <ion-row style="border-bottom: 1px solid black;">
      <ion-col size="1.5" style="margin-top: 5px;">
        기간:
      </ion-col>
      <ion-col size="1.5">
        <ion-button size="small" fill="outline" color="dark" style="color: black;">오늘</ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button size="small" fill="outline" color="dark" style="color: black;">1개월</ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button size="small" fill="outline" color="dark" style="color: black;">3개월</ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button size="small" fill="outline" color="dark" style="color: black;">6개월</ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button size="small" fill="outline" color="dark" style="color: black;">기간 설정</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col style="text-align: left;">
        병풀토너
      </ion-col>
      <ion-col style="text-align: center;">
        취소신청
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
