.title {
    text-align: center;
    padding-left: 61.6px;
}

.container {
    width: 375px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    .photo {
        img {
            width: 90px;
            height: 90px;
            margin: 0 auto;
        }
        //avatar로 할 때
        // position: relative;
        // left: 50%;
        // transform: translateX(-50%)
    }
    
    .nickName {
        width: 100%;
        margin: 0 auto;
        margin-top: 11.2px;
        text-align: center;
    }

    .age {
        width: 100%;
        margin: 0 auto;
        margin-top: 11.2px;
        text-align: center
    }

    .type {
        width: 100%;
        margin: 0 auto;
        margin-top: 11.2px;
        text-align: center
    }

    .manager {
        width: 100%;
        margin: 0 auto;
        margin-top: 11.2px;
        text-align: center
    }

    .profilebtn {
        height: 26px;

        .profileSet {
            width: 23.8px;
            height: 23.8px;
        }
    }
    
    .line {
        border-bottom: 1px solid black;
    }


    .pointIcon {
        width: 40px;
        height: 40px;
        margin-top: 12px;
        margin-bottom: 10px;
    }
    .point {
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pointAmt {
        display: inline-block;
        color:  skyblue;
        font-size: 30px;
        margin-left: 99px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pointUnit {
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .deliver {
        width: 40px;
        height: 40px;
        margin-top: 12px;
        margin-bottom: 10px;
    }

    .refund {
        width: 40px;
        height: 40px;
        margin-top: 12px;
        margin-bottom: 10px;
    }
}