<!-- my page 내부 화면 -->
<!-- 사용자의 정보를 담고 있는 페이지 -->

<ion-header>
  <ion-toolbar>
    <ion-title class="title">myPage</ion-title>
    <!-- 설정 버튼: 개인정보, 블루투스 연결, 알림, 로그아웃, FAQ, 이용약관 -->
    <ion-button class="setting" (click)="goSetting()" slot="end" fill="clear" size="small">
      <ion-icon name="settings-outline" style="color: black;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row class="photo">
        <img src="./user-in-a-square.svg"/>
        <!-- 카메라, 데이터베이스 연동 -->
        <!-- 
        <ion-avatar class="photo">
          <img src="./user-in-a-square.svg"/>
        </ion-avatar>
        이거로 하거나 위에 것으로 하거나
         -->
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="nickName">
            닉네임 <!--데이터 연동-->
          </div>
        </ion-col>
        <ion-col>
          <div class="age">
            20대 <!--데이터 연동-->
          </div>
        </ion-col>
        <ion-col>
          <div class="type">
            TYPE <!--데이터 연동-->
          </div>
        </ion-col>
        <ion-col>
          <ion-toolbar>
            <ion-button slot="end" class="profilebtn" fill="clear" color="dark">
              <ion-icon class="profileSet" name="clipboard-outline"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row class="line">

      </ion-row>
      <ion-row>
        <ion-col>
          <div style="text-align: center;">
            내 리뷰 <!--내 리뷰 0: 숫자 데이터 연동 및 링크-->
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align: center;">
            내 아이디어 <!--내 아이디어 0: 숫자 데이터 연동 및 링크-->
          </div>
        </ion-col>
        <ion-col>
          <diV style="text-align: center;">
            내 다이어리 <!--내 다이어리 0: 숫자 데이터 연동 및 링크-->
          </diV>
        </ion-col>
      </ion-row>
      <ion-row class="line">

      </ion-row>
      <ion-row class="pointRow">
        <ion-icon class="pointIcon" name="cash-outline"></ion-icon>
        <div class="point">
          88 포인트
        </div>
        <div class="pointAmt">
          0 <!--숫자 데이터 연동-->
        </div>
        <div class="pointUnit">
          P
        </div>
      </ion-row>
      <ion-row class="line">

      </ion-row>
      <ion-row>
        <ion-icon class="deliver" name="rocket-outline"></ion-icon>
        <div style="display: inline-block; font-weight: bold; font-size: 20px; margin-left: 20px; margin-top: 19px; margin-bottom: 19px; height: 22px;">
          구매목록/배송조회
        </div>
        <div style="color: red; font-size: 30px; margin-top: 10px; margin-bottom: 10px; margin-left: 66px">
          2 <!--숫자 데이터 연동 및 링크-->
        </div>
      </ion-row>
      <ion-row>
        <ion-icon class="refund" name="reload-outline"></ion-icon>
        <div style="display: inline-block; font-weight: bold; font-size: 20px; margin-left: 20px; margin-top: 19px; margin-bottom: 19px; height: 22px;">
          취소/반품조회
        </div>
        <div style="color: red; font-size: 30px; margin-top: 10px; margin-bottom: 10px; margin-left: 106px">
          0 <!--숫자 데이터 연동 및 링크-->
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
