<ion-header>
</ion-header>

<ion-content>
    <div class="container">
        <p style="margin-left: 10px; text-decoration: underline; font-size: large;">내가 작성한 리뷰 목록</p>
        <ion-grid>
            <ion-row style="border: 1px solid black; width: 90%;">
                <ion-col size="4" style="text-align: center;">
                    제품 이름<br>
                    용량, 가격
                </ion-col>
                <ion-col style="text-align:center;">
                    별점
                </ion-col>
            </ion-row>
            <!-- 리뷰 개수만큼, 데이터 베이스 연동하여 포기 -->
        </ion-grid>
    </div>
</ion-content>
