ion-back-button {
    color: black;
}

.backbtn {
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nextbtn {
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ion-icon {
    color: black;
}

.indicator-container {
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
}

.event-indicator {
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
}

// global.scss에 있는거 대신 이것도 가능
// :host ::ng-deep {
//     .monthview-primary-with-event {
//         background-color: black;
//     }
// }

ion-modal {
    --width: 80%;
    --height: 70%;
    --border-radius: 10px;
}

ion-datetime {
    background-color: white;
}

ion-input {
    border-bottom: 2px solid rgb(235, 235, 235);
}

ion-label {
    padding-left: 8px;
}