<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>CALENDAR</ion-title>
    <ion-buttons slot="end">
      <ion-button id="openCalModal">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 모달 수정 -->
  <ion-modal trigger="openCalModal">
    <ng-template>
      <ion-content>
        <ion-datetime>
          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input type="text" [(ngModel)]="event.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" [(ngModel)]="event.desc"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">All Day</ion-label>
            <ion-toggle [(ngModel)]="event.allDay"></ion-toggle>
          </ion-item>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="2">
      <ion-button class="backbtn" fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2 style="margin: 0; line-height: 66px;">{{ viewTitle }}</h2>
    </ion-col>

    <ion-col size="2">
      <ion-button class="nextbtn" fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- onEventSelected로 상세페이지 이동?? -->
  <calendar
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  [monthviewDisplayEventTemplate]="temp"
  >
  </calendar>

  <ng-template #temp let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>
</ion-content>
