ion-back-button {
    color: black;
}

.backbtn {
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nextbtn {
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ion-icon {
    color: black;
}

// .indicator-container {
//     padding-left: 0.5rem;
//     padding-bottom: 0.4rem;
// }

// .event-container {
//     background: black;
//     width: 5px;
//     height: 5px;
//     border-radius: 5px;
//     display: table-cell;
// }