#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .menuitem {
    font-weight: bold;
  }

  .menuitem:hover{
    box-shadow: 2px 4px 4px black;
  }

  .menubutton {
    color: black;
  }

  .note {
    color: black;
    font-size: smaller;
    margin: 20px;
  }

  .signIn {
    width: 45%;
    margin-left: 4%;
  }

  .signUp {
    width: 45%;
  }

  .myPage {
    margin-left: 7%;
  }

  .manage {
    margin-right: 5%;
  }